h1 {
    /* text-align: center; */
    font-family: fantasy ;
    /* color: rgb(273, 72, 50); */
    background: rgb(1,6,14);
    background: linear-gradient(90deg, rgba(1,6,14,1) 0%, rgba(31,77,155,1) 46%, rgba(49,108,118,1) 100%);
}

.logo{
    color: #c9d0e9;
}
    .test{
    font-family: fantasy;
}

.container-fluid {
    text-align: center;
    font-family: fantasy;
    background-color: #c9d0e9;
}
.navbar-nav{
    display: flex; 
    justify-content: center;
}
.navbar-toggler{
    text-align: center;
    display: flex;
    justify-content: center;
}

.test {
    font-size:xx-large;
    animation: 1.90s ease-out 0s 1 slideInLeft;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0)
    }
}

@-webkit-keyframes scale {
    0%   { transform: scale(0.5,0.5); }
    100% { transform: scale(1,1); }
  }
  @-moz-keyframes scale {
    0%   { transform: scale(0.5,0.5); }
    100% { transform: scale(1,1); }
  }
  @-o-keyframes scale {
    0%   { transform: scale(0.5,0.5); }
    100% { transform: scale(1,1); }
  }
  @keyframes scale {
    0%   { transform: scale(0.5,0.5); }
    100% { transform: scale(1,1); }
  }
  
  .card {
   animation-name: scale;
   animation-duration: 2s; 
   animation-fill-mode: forwards; 
  }

 li:hover{
background-color: #7982a1;
  }
